<section class="header-main margin-banner clearfix">
    <div class="container">
        <div class="text-post">
            <h1 class="title-page">Về chúng tôi</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Về chúng tôi</li>
            </ol>
        </div>
    </div>
</section>
<section class="container clearfix">
    <div class="info-top mb80">
        <div class="grid grid__3 mb40">
            <div class="colum-2"><img src="~/images/graphics/thumb4.jpg" alt=""></div>
            <div class="thumb_img"><img src="~/images/graphics/thumb5.jpg" alt=""></div>
        </div>
        <div class="row">
            <div class="col-md-4"><h2 class="title-cate">Đổi mới công nghệ tạo dựng tương lai</h2></div>
            <div class="col-md-8 des">
                <p>X-Tech là công ty có đội ngũ nhân sự với nhiều năm kinh nghiệm trong lĩnh vực công nghệ, cam kết mang đến những giải pháp đột phá và sáng tạo nhất cho khách hàng. Từ phát triển phần mềm đến tích hợp hệ thống, mỗi dự án của chúng tôi đều được thiết kế để tối ưu hóa hiệu suất và tăng cường khả năng cạnh tranh cho doanh nghiệp.</p>
                <p>Với đội ngũ lập trình viên, kỹ thuật viên giàu chuyên môn, quy trình làm việc tiên tiến, có khả năng tư duy sáng tạo và nắm bắt tốt xu hướng thị trường, X-Tech mở ra cho quý khách hàng trải nghiệm dịch vụ vượt trội, đem đến tương lai kinh doanh hiệu quả trong thời đại công nghệ 4.0.</p>
            </div>
        </div>
    </div>
   
    <div class="row mb40">
        <div class="col-md-6 mb30">
            <h2 class="title-cate">Tạo sự khác biệt và đổi mới</h2>
            <div class="txt_18 color-gray">
                <p>Nhiệm vụ của chúng tôi là không ngừng nghiên cứu và áp dụng những công nghệ mới nhất, từ đó tạo ra các sản phẩm và dịch vụ mang tính đột phá. </p>
                <p>Chúng tôi tin rằng, thông qua sự đổi mới, chúng tôi có thể cung cấp giải pháp tối ưu nhất cho mọi vấn đề, giúp khách hàng nâng cao hiệu quả hoạt động và mở rộng cơ hội kinh doanh.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/graphics/thumb6.jpg" alt="">
        </div>
    </div>
</section>
<section class="section-padding">
    <div class="container">
        <div class="min-content center mb40">
            <div class="mb10"><span class="lbl-title">GIÁ TRỊ CỦA CHÚNG TÔI</span></div>
            <h2 class="title-cate mb10">Câu chuyện và giá trị</h2>
        </div>
        <div class="list-giatri grid grid__2">
            <div class="item">
                <div class="img"><img src="~/images/icons/icon-sangtao.png" alt=""></div>
                <div class="content">
                    <h3>Sáng tạo</h3>
                    Chúng tôi coi trọng việc khám phá và ứng dụng những ý tưởng mới, thách thức mọi giới hạn để tạo ra những giải pháp công nghệ tiên tiến và hiệu quả
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="~/images/icons/icon-doanket.png" alt=""></div>
                <div class="content">
                    <h3>Đoàn kết</h3>
                    Đoàn kết là chìa khóa thành công. Chúng tôi tạo điều kiện để mỗi cá nhân phát huy tối đa khả năng, cùng nhau đạt được mục tiêu chung
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="~/images/icons/icon-khatvong.png" alt=""></div>
                <div class="content">
                    <h3>Khát vọng</h3>
                    Chúng tôi không ngừng nỗ lực để vượt qua mọi kỳ vọng, cung cấp dịch vụ và sản phẩm với chất lượng tốt nhất, đảm bảo sự hài lòng tuyệt đối của khách hàng.
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="~/images/icons/icon-trachnghiem.png" alt=""></div>
                <div class="content">
                    <h3>Trách nghiệm</h3>
                    Chúng tôi nhận thức được tầm quan trọng của việc hành động có trách nhiệm với cộng đồng và môi trường, cam kết tạo ra giá trị bền vững cho xã hội
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-giaiphap">
    <div class="container">
        <h2 class="title-cate center">Khách hàng của chúng tôi</h2>
        <div class="list-taitro">

            <a href="javascripts:;"><img style="max-width:136px;" src="~/images/graphics/doitac/doitac14.jpeg" alt=""></a>
            <a href="https://adavigo.com/"><img style="max-width:136px;" src="~/images/graphics/doitac/doitac15.jpg" alt=""></a>
            <a href="https://www.lexus.com.hk/en"><img style="max-width:136px;" src="~/images/graphics/doitac/doitac16.png" alt=""></a>
            <a href="javascripts:;"><img style="max-width:136px;" src="~/images/graphics/doitac/doitac17.jpg" alt=""></a>
            <a href="javascripts:;"><img style="max-width:136px;" src="~/images/graphics/doitac/doitac18.jpg" alt=""></a>
            <a href="http://daiquangduyen.com/"><img style="max-width:136px;" src="~/images/graphics/doitac/daiquangduyen.png" alt=""></a>
            <a href="http://contuoi.dongtrunghathaobiofun.vn/"><img style="max-width:136px;" src="~/images/graphics/doitac/contuoi.png" alt=""></a>
            <a href="https://homecarevj.com.vn/"><img style="max-width:136px;" src="~/images/graphics/doitac/homecarevj.png" alt=""></a>
            <a href="https://jspa.vn/"><img style="max-width:136px;" src="~/images/graphics/doitac/jspa.png" alt=""></a>
            <a href="http://lankadesign.com/"><img style="max-width:136px;" src="~/images/graphics/doitac/lankadesign.png" alt=""></a>
            <a href="https://oopsy.vn/"><img style="max-width:136px;" src="~/images/graphics/doitac/oopsy.png" alt=""></a>
            <a href="http://quanlotgiay.com/"><img style="max-width:136px;" src="~/images/graphics/doitac/quanlotgiay.png" alt=""></a>
            <a href="https://raukhicanh.vn/"><img style="max-width:136px;" src="~/images/graphics/doitac/raukhicanh.png" alt=""></a>
            <a href="http://haminco.com/"><img style="max-width:136px;" src="~/images/graphics/doitac/haminco.png" alt=""></a>

        </div>
    </div>
</section>
@section scripts {
    <script>
        $('.menu-tab-button').removeClass('active')
        $('.menu-tab-button-ve-chung-toi').addClass('active');
    </script>
}