<section class="header-main margin-banner clearfix">
    <div class="container">
        <div class="text-post">
            <h1 class="title-page">Đăng ký Cloud VPS</h1>
        </div>
    </div>
</section>
<section class="container clearfix mb80">
    <div class="list-vps">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="width: 281.25px; margin-right: 25px;">
                    <div class="item basic">
                        <h3 class="title">TÙY CHỌN VPS</h3>
                        <div class="row-option">
                            <select class="form-select cpu-co-ban4" data-opt="" id="select_vps_custom_cpu" name="select_vps_custom_cpu">
                                <option value="1" selected="1"> 1 vCore</option>
                                <option value="2"> 2 vCore</option>
                                <option value="3"> 3 vCore</option>
                                <option value="4"> 4 vCore</option>
                                <option value="5"> 5 vCore</option>
                                <option value="6"> 6 vCore</option>
                                <option value="7"> 7 vCore</option>
                                <option value="8"> 8 vCore</option>
                                <option value="9"> 9 vCore</option>
                                <option value="10"> 10 vCore</option>
                                <option value="11"> 11 vCore</option>
                                <option value="12"> 12 vCore</option>
                                <option value="13"> 13 vCore</option>
                                <option value="14"> 14 vCore</option>
                                <option value="15"> 15 vCore</option>
                                <option value="16"> 16 vCore</option>
                                <option value="17"> 17 vCore</option>
                                <option value="18"> 18 vCore</option>
                                <option value="19"> 19 vCore</option>
                                <option value="20"> 20 vCore</option>
                                <option value="21"> 21 vCore</option>
                                <option value="22"> 22 vCore</option>
                                <option value="23"> 23 vCore</option>
                                <option value="24"> 24 vCore</option>
                                <option value="25"> 25 vCore</option>
                                <option value="26"> 26 vCore</option>
                                <option value="27"> 27 vCore</option>
                                <option value="28"> 28 vCore</option>
                                <option value="29"> 29 vCore</option>
                                <option value="30"> 30 vCore</option>
                                <option value="31"> 31 vCore</option>
                                <option value="32"> 32 vCore</option>
                            </select>
                            <div class="minus-plus">
                                <button type="button" class="btn_vps_opt btn plus" data-opt="" id="prev_select_vps_custom_cpu">-</button>
                                <button type="button" data-opt="" title="Tăng thêm 1 vCore: 100K" class="btn_vps_opt btn plus" id="next_select_vps_custom_cpu">+</button>
                            </div>
                        </div>
                        <div class="row-option">
                            <select class="form-select co-ban" data-opt="" class="" id="select_vps_custom_mem" name="select_vps_custom_mem">
                                <option value="1"> 1 GB </option>
                                <option value="2"> 2 GB </option>
                                <option value="3"> 3 GB </option>
                                <option value="4"> 4 GB </option>
                                <option value="5"> 5 GB </option>
                                <option value="6"> 6 GB </option>
                                <option value="7"> 7 GB </option>
                                <option value="8"> 8 GB </option>
                                <option value="10"> 10 GB </option>
                                <option value="12"> 12 GB </option>
                                <option value="14"> 14 GB </option>
                                <option value="16"> 16 GB </option>
                                <option value="20"> 20 GB </option>
                                <option value="24"> 24 GB </option>
                                <option value="28"> 28 GB </option>
                                <option value="32"> 32 GB </option>
                                <option value="40"> 40 GB </option>
                                <option value="48"> 48 GB </option>
                                <option value="56"> 56 GB </option>
                                <option value="64"> 64 GB </option>
                                <option value="80"> 80 GB </option>
                                <option value="96"> 96 GB </option>
                                <option value="112"> 112 GB </option>
                                <option value="128"> 128 GB </option>
                                <option value="160"> 160 GB </option>
                                <option value="192"> 192 GB </option>
                                <option value="224"> 224 GB </option>
                                <option value="256"> 256 GB </option>
                            </select>
                            <div class="minus-plus">
                                <button type="button" data-opt="" class="btn_vps_opt btn plus" id="prev_select_vps_custom_mem">-</button>
                                <button type="button" data-opt="" title="Tăng thêm 1G Ram: 40K" class="btn_vps_opt btn plus " id="next_select_vps_custom_mem">+</button>
                            </div>
                        </div>
                        <div class="row-option">
                            <select class="form-select co-ban" data-opt="" id="select_vps_custom_ssd" name="select_vps_custom_ssd">
                                <option value="20"> 20 GB SSD</option>
                                <option value="30"> 30 GB SSD</option>
                                <option value="40"> 40 GB SSD</option>
                                <option value="50"> 50 GB SSD</option>
                                <option value="60"> 60 GB SSD</option>
                                <option value="70"> 70 GB SSD</option>
                                <option value="80"> 80 GB SSD</option>
                                <option value="90"> 90 GB SSD</option>
                                <option value="100"> 100 GB SSD</option>
                                <option value="150"> 150 GB SSD </option>
                                <option value="200"> 200 GB SSD </option>
                                <option value="250"> 250 GB SSD </option>
                                <option value="300"> 300 GB SSD </option>
                                <option value="400"> 400 GB SSD </option>
                                <option value="500"> 500 GB SSD </option>
                                <option value="600"> 600 GB SSD </option>
                                <option value="700"> 700 GB SSD </option>
                                <option value="800"> 800 GB SSD </option>
                                <option value="900"> 900 GB SSD </option>
                                <option value="1000"> 1000 GB SSD </option>
                                <option value="1100"> 1100 GB SSD </option>
                                <option value="1200"> 1200 GB SSD </option>
                                <option value="1300"> 1300 GB SSD </option>
                                <option value="1400"> 1400 GB SSD </option>
                                <option value="1500"> 1500 GB SSD </option>
                                <option value="1600"> 1600 GB SSD </option>
                                <option value="1700"> 1700 GB SSD </option>
                                <option value="1800"> 1800 GB SSD </option>
                                <option value="1900"> 1900 GB SSD </option>
                                <option value="2000"> 2000 GB SSD </option>
                            </select>
                            <div class="minus-plus ">
                                <button type="button" data-opt="" class="btn_vps_opt btn plus" id="prev_select_vps_custom_ssd">-</button>
                                <button type="button" data-opt="" title="Tăng thêm 10GB SSD: 20K" class="btn_vps_opt btn plus" id="next_select_vps_custom_ssd">+</button>
                            </div>
                        </div>
                        <div class="row-option">
                            <select class="form-select co-ban" data-opt="" id="select_vps_custom_net" name="select_vps_custom_net">
                                <option value="100"> 100 Mbit</option>
                                <option value="200"> 200 Mbit</option>
                                <option value="500"> 500 Mbit</option>
                                <option value="1000"> 1000 Mbit</option>
                                <option value="2000"> 2000 Mbit</option>
                            </select>
                            <div class="minus-plus">
                                <button type="button" data-opt="" class="btn_vps_opt btn plus" id="prev_select_vps_custom_net">-</button>
                                <button type="button" data-opt="" title="Tăng thêm 100Mbit: 1100K" class="btn_vps_opt btn plus" id="next_select_vps_custom_net">+</button>
                            </div>
                        </div>
                        <div class="row-option">
                            <select class="form-select co-ban" data-opt="" id="select_vps_custom_nip" name="select_vps_custom_nip">
                                <option value="1"> 1 IP Address </option>
                                <option value="2"> 2 IP Address </option>
                                <option value="3"> 3 IP Address </option>
                                <option value="4"> 4 IP Address </option>
                                <option value="5"> 5 IP Address </option>
                                <option value="6"> 6 IP Address </option>
                                <option value="7"> 7 IP Address </option>
                                <option value="8"> 8 IP Address </option>
                                <option value="9"> 9 IP Address </option>
                                <option value="10"> 10 IP Address </option>
                            </select>
                            <div class="minus-plus">
                                <button type="button" data-opt="" class="btn_vps_opt btn plus" id="prev_select_vps_custom_nip">-</button>
                                <button type="button" data-opt="" title="Tăng thêm 1 IP: 100K" class="btn_vps_opt btn plus" id="next_select_vps_custom_nip">+</button>
                            </div>
                        </div>
                        <p class="mb20"><b>Băng thông: Không giới hạn</b></p>
                        <p>Thời gian sử dụng</p>
                        <div class="row-option">
                            <select class="form-select co-ban" data-opt="" id="select_vps_time" name="select_vps_time">
                                <option value="1">1 tháng </option>
                                <option value="2">2 tháng </option>
                                <option value="3">3 tháng </option>
                                <option value="4">4 tháng </option>
                                <option value="5">5 tháng </option>
                                <option selected="" value="6">6 tháng (giảm 5%) </option>
                                <option value="7">7 tháng (giảm 5%) </option>
                                <option value="8">8 tháng (giảm 5%) </option>
                                <option value="9">9 tháng (giảm 5%) </option>
                                <option value="10">10 tháng (giảm 5%) </option>
                                <option value="11">11 tháng (giảm 5%) </option>
                                <option value="12">12 tháng (giảm 10%) </option>
                                <option value="24">24 tháng (giảm 15%) </option>
                            </select>
                            <div class="minus-plus">
                                <button type="button" data-opt="" class="btn_vps_opt btn plus" id="prev_select_vps_month">-</button>
                                <button type="button" data-opt="" title="Trên 6 tháng giảm 5%, Trên 12 tháng giảm 10%, trên 24 tháng giảm 15%" class="btn_vps_opt btn plus" id="next_select_vps_month">+</button>
                            </div>
                        </div>
                        <p> Số lượng:</p>
                        <div class="row-option">
                            <select class="form-select" data-opt="" id="select_vps_quantity" name="select_vps_quantity">

                                <option selected="" name="1" value="1"> 1</option>
                                <option name="2" value="2"> 2</option>
                                <option name="3" value="3"> 3</option>
                                <option name="4" value="4"> 4</option>
                                <option name="5" value="5"> 5</option>
                                <option name="6" value="6"> 6</option>
                                <option name="7" value="7"> 7</option>
                                <option name="8" value="8"> 8</option>
                                <option name="9" value="9"> 9</option>
                                <option name="10" value="10"> 10</option>
                                <option name="11" value="11"> 11</option>
                                <option name="12" value="12"> 12</option>
                                <option name="13" value="13"> 13</option>
                                <option name="14" value="14"> 14</option>
                                <option name="15" value="15"> 15</option>
                                <option name="16" value="16"> 16</option>
                                <option name="17" value="17"> 17</option>
                                <option name="18" value="18"> 18</option>
                                <option name="19" value="19"> 19</option>
                                <option name="20" value="20"> 20</option>
                                <option name="21" value="21"> 21</option>
                                <option name="22" value="22"> 22</option>
                                <option name="23" value="23"> 23</option>
                                <option name="24" value="24"> 24</option>

                            </select>
                            <div class="minus-plus">
                                <button type="button" data-opt="" class="btn_vps_opt btn plus" id="prev_select_vps_quantity">-</button>
                                <button type="button" data-opt="" class="btn_vps_opt btn plus" id="next_select_vps_quantity">+</button>
                            </div>
                        </div>
                        <div class="line-bottom mb16"></div>
                        <div><b class="price txt_32" id="price_select_vps">18.220</b> K/ Tháng</div>
                        <p class="color-gray" id="totalPricepriceVpsCustom">Chi phí 6 Tháng: 109,320K</p>
                        <a class="btn-default dk_vps" id="dk_vps" data-opt="">Đăng ký</a>
                    </div>
                </div>
                <div class="col-sm-8 col-lg-8">

                    <div style="border: 1px solid #ccc; margin: 0px; padding: 20px; background: lavenderblush">

                        <table class="glx04">
                            <tbody>
                                <tr>
                                    <th> Dịch vụ bổ xung </th>
                                    <th> Chi phí </th>
                                </tr>
                                <tr>
                                    <td> 01 VCore CPU </td>
                                    <td> 70 K </td>
                                </tr>
                                <tr>
                                    <td> 01 GB memory </td>
                                    <td> 40 K </td>
                                </tr>
                                <tr>
                                    <td> 100 GB SSD </td>
                                    <td> 120 K </td>
                                </tr>
                                <tr>
                                    <td> 100 Mbit network</td>
                                    <td> 1000 K </td>
                                </tr>
                                <tr>
                                    <td> 01 IP address</td>
                                    <td> 50k </td>
                                </tr>
                            </tbody>
                        </table>

                        <br>
                        <span style="font-style: italic; font-size: small">Giảm <b>10%</b> khi thanh toán <b>12</b> tháng<br> Giảm <b>5%</b> khi thanh toán <b>6</b> tháng </span>

                    </div>

                </div>
            </div>

        </div>

    </div>

</section>
<script asp-append-version="true" src="~/modules/VPS.js"></script>
@section scripts {

    <script>LaodDetailVPS()</script>

}

