<section class="top-banner margin-banner clearfix">
    <div class="thumb_img">
        <img src="images/graphics/banner3.jpg" alt="">
        <div class="container">
            <div class="text-post">
                <h2 class="title fade-in-left">
                    Thiết kế website chuyên nghiệp  hàng đầu tại Media X-Tech
                </h2>
                <div class="description fade-in-left">Giúp bạn <b>THU HÚT KHÁCH HÀNG</b> và <b>TĂNG DOANH THU</b> hiệu quả Những chuyên gia của chúng tôi biết cách để xây dựng một website như thế cho doanh nghiệp của bạn!</div>
                <div class="d-none d-sm-block fade-in-bottom">
                    <div class="flex-from">
                        <div class="form-group"><input type="text" class="form-control" placeholder="Tên của bạn*"></div>
                        <div class="form-group"><input type="text" class="form-control" placeholder="Số điện thoại*"></div>
                        <div class="form-group"><input type="text" class="form-control" placeholder="Lĩnh vực"></div>
                        <div class="form-group"><a href="#" class="btn-default">Đăng ký</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="section-padding bg-white clearfix">
    <div class="container">
        <div class="d-sm-none mb30">
            <div class="flex-from form-default">
                <div class="form-group"><input type="text" class="form-control" placeholder="Tên của bạn*"></div>
                <div class="form-group"><input type="text" class="form-control" placeholder="Số điện thoại*"></div>
                <div class="form-group"><input type="text" class="form-control" placeholder="Lĩnh vực"></div>
                <div class="form-group"><a href="#" class="btn-default full">Đăng ký</a></div>
            </div>
        </div>
        <div class="min-content center mb30 mb-md-5">
            <h2 class="title-cate mb10">Vì sao nên chọn chúng tôi</h2>
            <div>Với hàng trăm dự án thành công,Media X-Tech tự hào đã mang đến cho khách hàng những trang web hoạt động hiệu quả như mong muốn. Cùng khám phá lý do công ty thiết kế web Media Finde me được lựa chọn</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb30 mb-lg-0 center">
                <div class="mb10"><img src="~/images/icons/icon-security2.png"></div>
                <h3 class="txt_20 bold color_000">Giao diện bắt mắt</h3>
                <div class="color-gray">
                    Những mẫu giao diện đẹp mắt, sáng tạo và phù hợp nhiều lĩnh vực sẽ gây ấn tượng mạnh đến khách hàng của bạn
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb30 mb-lg-0 center">
                <div class="mb10"><img src="~/images/icons/icon-chiphi.png"></div>
                <h3 class="txt_20 bold color_000">Tối ưu chi phí</h3>
                <div class="color-gray">
                    Thiết kế website trọn gói cùng các ưu đãi đi kèm giúp&nbsp;tiết kiệm&nbsp;chi phí bỏ ra của doanh nghiệp nhưng vẫn mang về hiệu quả cao nhất
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb30 mb-lg-0 center">
                <div class="mb10"><img src="~/images/icons/icon-support.png"></div>
                <h3 class="txt_20 bold color_000">Hỗ trợ 24/7</h3>
                <div class="color-gray">
                    Đội ngũ chuyên viên giàu nhiệt huyết luôn sẵn sàng hỗ trợ giải quyết khó khăn của quý khách hàng ở mọi lúc mọi nơi
                </div>
            </div>
            <div class="col-lg-3 col-md-6 center">
                <div class="mb10"><img src="~/images/icons/icon-sevice.png"></div>
                <h3 class="txt_20 bold color_000">Bảo trì, bảo dưỡng</h3>
                <div class="color-gray">
                    Với chính sách bảo hành trọn đời chúng tôi luôn sẵn sàng đồng hành cùng quý khách hàng trong chặng đường phát triển sắp tới
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding clearfix">
    <div class="container">
            <div id="grid_data_New" class="list-article grid grid__3 mb40">
            <partial name="_Skeleton" />
            <partial name="_Skeleton" />
            <partial name="_Skeleton" />

        </div>
        <div id="grid_data_pagination">
        </div>
    </div>
</section>
<section class="container clearfix page-pricing">
    <div class="min-content center mb40">
        <h2 class="title-cate mb10">Bảng giá thiết kế website</h2>
        <div>Công nghệ hàng đầu – Tối ưu chi phí – Hỗ trợ nhanh chóng</div>
    </div>
    <div class="tab-pricing">
        <ul class="toggle-menu">
            <li class="active" id="btn_pricing1">
                <a href="javascripts:;">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#person"></use>
                    </svg>
                    <span>Cá nhân</span>
                </a>
            </li>
            <li id="btn_pricing2">
                <a href="javascripts:;">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#group"></use>
                    </svg>
                    <span>Doanh nghiệp</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="list-service mb80" id="pricing1">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active" style="width: 400px;">
                    <div class="item" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>BASIC</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span style="font-size: 48px;">3.490.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
                            <a class="btn-default" href="javascripts:;"><span>Đăng ký ngay</span></a>

                        </div>

                        <p style="text-align: center;"><span style="font-size: 16px;">( Phù hợp cho cá nhân )</span></p>
                        <div class="service">
                            <div class="mb10 medium">Everything in Starter, plus</div>
                            <ul class="ul-check mb0">
                                <li style="text-align: left;">Giao diện mẫu, tùy chỉnh theo yêu cầu hoặc mẫu khách hàng cung cấp</li>
                                <li style="text-align: left;">Thời gian bàn giao: 4-5 ngày</li>
                                <li style="text-align: left;">Tặng: 1 banner + logo cơ bản</li>
                                <li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 300.000 VNĐ</li>
                                <li style="text-align: left;">Tặng Hosting 10 GB/1 năm trị giá 2.760.000VNĐ</li>
                                <li style="text-align: left;">Tặng Plugin Ranh Math SEO Pro bản quyền tối ưu hóa nội dung website</li>
                                <li style="text-align: left;">Tặng Plugin tăng tốc độ Website bản quyền Wp Rocket tăng tốc độ website</li>
                                <li style="text-align: left;">Tặng Plugin bảo mật web bản quyền iThemes Security Pro bảo mật website</li>
                                <li style="text-align: left;">Hỗ trợ nhập liệu 30 bài viết hoặc sản phẩm</li>
                                <li style="text-align: left;">Tối ưu SEO Onpage. Giao diện tương thích mọi thiết bị (PC, Tablet, Mobile)</li>
                                <li style="text-align: left;">Bàn giao mã nguồn website</li>
                                <li style="text-align: left;">Bảo hành trọn đời, bàn giao full quyền</li>
                                <li style="text-align: left;">Đội ngũ kỹ thuật hỗ trợ tận tình 24/7</li>
                            </ul>

                        </div>



                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" style="width: 400px;">
                    <div class="item active" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>DESIGN HOME</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span style="font-size: 48px;">7.000.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
                            <a class="btn-default" href="javascripts:;"><span>Đăng ký ngay</span></a>

                        </div>

                        <p style="text-align: center;"><span style="font-size: 16px;">( Phù hợp cho các Cá Nhân & Doanh Nghiệp nhỏ )</span></p>
                        <div class="service">
                            <div class="mb10 medium">Everything in Starter, plus</div>
                            <ul class="ul-check mb0">
                                <li style="text-align: left;">Thiết kế web theo mẫu, design trang chủ theo phong cách riêng mới mẻ</li>
                                <li style="text-align: left;">Thời gian bàn giao: 7-10 ngày</li>
                                <li style="text-align: left;">Bảo hành website trọn đời</li>
                                <li style="text-align: left;">Cam kết tốc độ tải trang dưới 3s.</li>
                                <li style="text-align: left;">Hỗ trợ nhập 20 đơn vị bài viết / sản phẩm</li>
                                <li style="text-align: left;">Tối ưu hỗ trợ SEO Onpage. Giao diện tương thích trên di động</li>
                                <li style="text-align: left;">Tặng: 2 banner + logo dạng chữ cơ bản</li>
                                <li style="text-align: left;">Miễn phí 5 email theo tên miền Mỗi email có 5GB dung lượng riêng biệt</li>
                                <li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 330.000 VNĐ (đã bao gồm VAT 10%)</li>
                                <li style="text-align: left;">Tặng Hosting 10GB/1 năm trị giá 2.760.000 VNĐ</li>
                                <li style="text-align: left;">Bàn giao mã nguồn website</li>
                            </ul>

                        </div>



                    </div>
                </div>
                <div class="swiper-slide" style="width: 400px;">
                    <div class="item" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>PRO</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span style="font-size: 48px;">4.800.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
                            <a class="btn-default" href="javascripts:;"><span>Đăng ký ngay</span></a>

                        </div>

                        <p style="text-align: center;"><span style="font-size: 16px;">( Phù hợp cho cá nhân )</span></p>
                        <div class="service">
                            <div class="mb10 medium">Everything in Starter, plus</div>
                            <ul class="ul-check mb0">
                                <li style="text-align: left;">Giao diện mẫu, tùy chỉnh theo yêu cầu hoặc mẫu khách hàng cung cấp</li>
                                <li style="text-align: left;">Thời gian bàn giao: 4-5 ngày</li>
                                <li style="text-align: left;">Tặng: 1 banner + logo cơ bản</li>
                                <li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 300.000 VNĐ</li>
                                <li style="text-align: left;">Tặng Hosting 10 GB/1 năm trị giá 2.760.000VNĐ</li>
                                <li style="text-align: left;">Tặng Plugin Ranh Math SEO Pro bản quyền tối ưu hóa nội dung website</li>
                                <li style="text-align: left;">Tặng Plugin tăng tốc độ Website bản quyền Wp Rocket tăng tốc độ website</li>
                                <li style="text-align: left;">Tặng Plugin bảo mật web bản quyền iThemes Security Pro bảo mật website</li>
                                <li style="text-align: left;">Hỗ trợ nhập liệu 30 bài viết hoặc sản phẩm</li>
                                <li style="text-align: left;">Tối ưu SEO Onpage. Giao diện tương thích mọi thiết bị (PC, Tablet, Mobile)</li>
                                <li style="text-align: left;">Bàn giao mã nguồn website</li>
                                <li style="text-align: left;">Bảo hành trọn đời, bàn giao full quyền</li>
                                <li style="text-align: left;">Đội ngũ kỹ thuật hỗ trợ tận tình 24/7</li>
                            </ul>

                        </div>



                    </div>
                </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <div class="swiper-button-next swiper-service-next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true">
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="swiper-button-prev swiper-service-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
            <i class="fa fa-angle-left"></i>
        </div>
    </div>
    <div class="list-service mb80" id="pricing2" style="display: none;">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active" style="width: 400px;">
                    <div class="item" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>DESIGN ENTERPRISE</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span style="font-size: 48px;">11.900.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
                            <a class="btn-default" href="javascripts:;"><span>Đăng ký ngay</span></a>

                        </div>

                        <p style="text-align: center;"><span style="font-size: 16px;">( Phù hợp cho Doanh Nghiệp nhỏ thiết kế mới 100% )</span></p>
                        <div class="service">
                            <div class="mb10 medium">Everything in Starter, plus</div>
                            <ul class="ul-check mb0">
                                <li style="text-align: left;">Thiết kế giao diện (Layout Design) 5 kiểu trang PC</li>
                                <li style="text-align: left;">Chỉnh sửa giao diện 02 lần</li>
                                <li style="text-align: left;">Thời gian bàn giao: 15-20 ngày</li>
                                <li style="text-align: left;">Bảo hành trọn đời website</li>
                                <li style="text-align: left;">Cam kết tốc độ tải trang dưới 3s.</li>
                                <li style="text-align: left;">Hỗ trợ nhập 20 nội dung sản phẩm / dịch vụ</li>
                                <li style="text-align: left;">Tối ưu chuẩn SEO. Giao diện tương thích Mobile, Tablet</li>
                                <li style="text-align: left;">Miễn phí 5 email theo tên miền Mỗi email có 5GB dung lượng riêng biệt</li>
                                <li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 330.000 VNĐ (đã bao gồm VAT 10%)</li>
                                <li style="text-align: left;">Tặng Hosting 10GB/1 năm trị giá 2.760.000 VNĐ (đã bao gồm VAT 10%)</li>
                                <li style="text-align: left;">Bàn giao mã nguồn website</li>
                            </ul>

                        </div>



                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" style="width: 400px;">
                    <div class="item active" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>DESIGN PROFESSIONAL</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span style="font-size: 48px;">14.500.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
                            <a class="btn-default" href="javascripts:;"><span>Đăng ký ngay</span></a>

                        </div>

                        <p style="text-align: center;"><span style="font-size: 16px;">( Dành cho Doanh Nghiệp vừa và nhỏ thiết kế mới 100% )</span></p>
                        <div class="service">
                            <div class="mb10 medium">Everything in Starter, plus</div>
                            <ul class="ul-check mb0">
                                <li style="text-align: left;">Thiết kế giao diện (Layout Design) 8 kiểu trang PC</li>
                                <li style="text-align: left;">Chỉnh sửa giao diện 03 lần</li>
                                <li style="text-align: left;">Thời gian bàn giao: 20-25 ngày</li>
                                <li style="text-align: left;">Bảo hành trọn đời website</li>
                                <li style="text-align: left;">Cam kết tốc độ tải trang dưới 3s.</li>
                                <li style="text-align: left;">Hỗ trợ nhập 20 nội dung sản phẩm / dịch vụ</li>
                                <li style="text-align: left;">Tối ưu chuẩn SEO. Giao diện tương thích Mobile, Tablet</li>
                                <li style="text-align: left;">Miễn phí 5 email theo tên miền Mỗi email có 5GB dung lượng riêng biệt</li>
                                <li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 330.000 VNĐ (đã bao gồm VAT 10%)</li>
                                <li style="text-align: left;">Tặng Hosting 10GB/1 năm trị giá 2.760.000 VNĐ (đã bao gồm VAT 10%)</li>
                                <li style="text-align: left;">Bàn giao mã nguồn website</li>
                            </ul>

                        </div>



                    </div>
                </div>
                <div class="swiper-slide" style="width: 400px;">
                    <div class="item" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>DESIGN DIAMOND</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span style="font-size: 48px;">Liên hệ</strong>

                            </p>
                            <a class="btn-default" href="javascripts:;"><span>Đăng ký ngay</span></a>

                        </div>

                        <p style="text-align: center;"><span style="font-size: 16px;">( Thiết kế một bộ giao diện độc quyền & Tính năng theo yêu cầu )</span></p>
                        <div class="service">
                            <div class="mb10 medium">Everything in Starter, plus</div>
                            <ul class="ul-check mb0">
                                <li style="text-align: left;">Thiết kế giao diện (Layout Design) PC &amp; Mobile riêng</li>
                                <li style="text-align: left;">Chỉnh sửa đến khi hài lòng</li>
                                <li style="text-align: left;">Thời gian bàn giao: &gt; 30 ngày</li>
                                <li style="text-align: left;">Bảo hành trọn đời website</li>
                                <li style="text-align: left;">Cam kết tốc độ tải trang dưới 3s.</li>
                                <li style="text-align: left;">Hỗ trợ nhập 20 nội dung sản phẩm / dịch vụ</li>
                                <li style="text-align: left;">Tối ưu chuẩn SEO. Giao diện tương thích Mobile, Tablet</li>
                                <li style="text-align: left;">Miễn phí 4 email theo tên miền Mỗi email có 5GB dung lượng riêng biệt</li>
                                <li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 330.000 VNĐ (đã bao gồm VAT 10%)</li>
                                <li style="text-align: left;">Tặng Hosting 10GB/1 năm trị giá 2.760.000 VNĐ (đã bao gồm VAT 10%)</li>
                                <li style="text-align: left;">Bàn giao mã nguồn website</li>
                                <li style="text-align: left;">Cam kết hoàn 100% phí nếu khách hàng không hài lòng</li>
                            </ul>

                        </div>



                    </div>
                </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <div class="swiper-button-next swiper-service-next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true">
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="swiper-button-prev swiper-service-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
            <i class="fa fa-angle-left"></i>
        </div>
    </div>
</section>

<section class="section-padding section-dangky clearfix">
    <div class="container">
        <div class="min-content center mb40 text-white">
            <h2 class="title-cate mb10">Đăng ký nhận tư vấn</h2>
            <div>Đừng để cơ hội tăng trưởng và thành công của bạn chờ đợi. Liên hệ với chúng tôi ngay hôm nay để nhận báo giá chi tiết và tùy chỉnh, phù hợp với nhu cầu cụ thể của bạn. Đội ngũ chuyên gia của chúng tôi sẵn sàng giúp đỡ và hướng dẫn bạn qua mỗi bước, từ lên ý tưởng ban đầu đến thực hiện thành công.</div>
        </div>
        <form class="form-send-mail">
            <input type="text" class="" id="Email" name="Email" placeholder="Nhập địa chỉ email...">
            <a style="color: white;padding-top: 2%;" id="send_email" class="btn-default send_email">Gửi</a>
        </form>
    </div>
</section>
<section class="section-giaiphap section-faq clearfix">
    <div class="container">
        <h2 class="title-cate">Câu hỏi thường gặp</h2>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <a class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Xây dựng website mới cần chuẩn bị những gì ?
                    </a>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>Để xây dựng một website mới, bạn cần chuẩn bị ba yếu tố:</p>
                        <ul>
                            <li>Tên miền (domain): nếu thiết kế website giống như xây dựng 1 ngôi nhà thì tên miền chính là số nhà của bạn. Đây là địa chỉ giúp người dùng truy cập vào website của bạn. Tên miền nên ngắn gọn, dễ nhớ và ấn tượng, 1 số tên miền phổ biến: .vn, .com.vn</li>
                            <li>Hosting: nếu tên miền được xem là địa chỉ nhà, thì hosting là mảnh đất nơi ngôi nhà được xây dựng. Hiểu đơn giản hosting là nơi lưu trữ toàn bộ thông tin và dữ liệu của website trên Internet. Lựa chọn hosting có tốc độ, dung lượng phù hợp với web và có tính bảo mật cao là rất cần thiết.</li>
                            <li>Thiết kế website: chứa các dữ liệu website bao gồm bài viết, nội dung, hình ảnh, và các file mã lệnh (tên gọi khác là mã nguồn – source code)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Tại sao chi phí thiết kế website giữa các công ty khác nhau đáng kể ?
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div dir="auto">Một số yếu tố quyết định tới chi phí thiết kế Web bao gồm:</div>
                        <ul>
                            <li dir="auto">Giao diện của trang web</li>
                            <li dir="auto">Chi phí cho Tên miền và hosting</li>
                            <li dir="auto">Các tính năng cơ bản của 1 website</li>
                            <li dir="auto">Nội dung – content cần nhập liệu</li>
                            <li dir="auto">Các tính năng nâng cao với các website đặc biệt</li>
                        </ul>
                        <p><strong><em>Tuy nhiên tại Media X-Tech, chúng tôi không cạnh tranh về giá, chúng tôi chỉ cạnh tranh về tầm nhìn cũng như những gì tốt nhất có thể mang đến cho khách hàng.</em></strong></p>
                        <p>Tùy thuộc vào yêu cầu và chi phí dự kiến của doanh nghiệp, chúng tôi sẽ tư vấn gói thiết kế phù hợp nhất.</p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Tại sao website của tôi không thu hút như website người khác ?
                    </a>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p>Website không thu hút là vì đã không được thiết kế chuyên nghiệp, cho nên:</p>
                        <ul>
                            <li>Giao diện không thu hút và tạo được sự tin cậy với người truy cập</li>
                            <li>Tính năng lạc hậu, kém thân thiện</li>
                            <li>Không được tối ưu tốc độ truy cập, trải nghiệm người dùng và tối ưu chuẩn SEO</li>
                            <li>Nội dung website sơ sài, không cung cấp đủ thông tin cho người truy cập</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Thời gian thiết kế là bao lâu ?
                    </a>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <p>Trung bình thời gian thiết kế website tại Media X-Tech là từ 3-12 ngày tùy thuộc vào yêu cầu của khách hàng đối với trang web. Đối với những dự án thiết kế giao diện độc quyền sẽ cần thời gian hoàn thiện dài hơn để mang đến sự hài lòng nhất cho quý khách hàng khi bàn giao.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading5">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        Thanh toán như thế nào ?
                    </a>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                        <p>Nhằm giúp khách hàng có trải nghiệm tốt nhất khi hợp tác cùng Media X-Tech, chúng tôi mang đến tất cả hình thức thanh toán. Doanh nghiêp có thể lựa chọn từ thanh toán bằng tiền mặt đến chuyển khoản qua ngân hàng, các ứng dụng thanh toán sao cho thuận tiện nhất.</p>
                        <p>Quý khách hàng sẽ thanh toán trước một khoản chi phí nhỏ và chỉ cần thanh toán toàn bộ khi đã hoàn toàn hài lòng với website được bàn giao.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading6">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        Tôi không biết quản trị website như thế nào thì làm sao vận hành web ?
                    </a>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                    <div class="card-body">
                        <p>Trước khi bàn giao website cho doanh nghiệp của bạn, chuyên viên của Media X-Tech sẽ hướng dẫn bạn cách để đưa website vào vận hành.</p>
                        <p>Tuy nhiên trong trường hợp doanh nghiệp không có nhiều thời gian hay còn thiếu kinh nghiệm quản trị web thì có thể sử dụng gói <strong>dịch vụ quản trị website</strong> của Media X-Tech. Chỉ với một khoản<strong> chi phi nhỏ</strong>, website của bạn sẽ hoạt động và tạo ra <strong>doanh thu lớn</strong>.</p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading7">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        Những lỗi như thế nào thì tôi được hỗ trợ fix miễn phí ?
                    </a>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                        <p>Tất cả những lỗi liên quan đến kỹ thuật trong quá trình vận hành website đều được hỗ trợ fix miễn phí. Quý khách hàng chỉ cần liên hệ Media X-Tech để được hỗ trợ nhanh chóng – hiệu quả.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="overlay"></div>

@section scripts {
    <script>
        $('.menu-tab-button').removeClass('active')
        $('.bang-gia').addClass('active');
    </script>
    <script asp-append-version="true" src="~/modules/DetailDeginwebsite.js"></script>
}